.main-dashboard {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 30px 0px 0px 30px;
}

.content > h1 {
	font-weight: 700;
	color: var(--primary-success800);
}