.main-dashboard {
	display: flex;
	flex-direction: row;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 5px 0px 0.8rem;
	width: 100%;
	overflow-y: scroll;
}

.content > h1 {
	font-weight: 700;
	color: var(--primary-success800);
}