footer{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    margin: 0;
    left: 0;
}

footer p {
    width: 30rem;
    text-align: center;
    font-size: 0.9rem;
}

/* footer p a {
    text-decoration: none;
    color: var(--primary-success700);
    transition: 0.2s;
}

footer p a:hover{
    text-decoration: underline;
    color: var(--primary-success500);
} */
