.revisar-cand-main {
    display: flex;
    flex-direction: column;
}

.revisar-cand-div {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 35rem;
    margin-bottom: 3rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 0;
    box-shadow: 5px 5px 10px var(--neutral300);
}

h2 {
    margin-bottom: 1rem;
    color: var(--primary-success500);
}

#cand-span {
    font-weight: 700;
    margin-bottom: 1rem;
}