.revisar-cand-main {
    display: flex;
    flex-direction: column;
}

.revisar-cand-div {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 35rem;
    margin-bottom: 3rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 0;
    box-shadow: 5px 5px 10px var(--neutral300);
}

h2 {
    margin-bottom: 1rem;
    color: var(--primary-success500);
}

#cand-span {
    font-weight: 700;
    margin-bottom: 1rem;
}

.tabela {
    display: flex;
    flex-direction: column;
    min-width: 715px;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--neutral300);
    overflow-x: scroll;
}

.tabela > #cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--neutral300);
    padding: 0.5rem;
}

.tabela > #cabecalho > span {
    padding: 0 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--neutral600);
}

#tabela-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--neutral300);
    padding: 0.5rem;
}