.revisar-cand-main {
  display: flex;
  flex-direction: column;
}

.revisar-cand-div {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 35rem;
  margin-bottom: 3rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem 0;
  box-shadow: 5px 5px 10px var(--neutral300);
}

h2 {
  margin-bottom: 1rem;
  color: var(--primary-success500);
}

#cand-span {
  margin-bottom: 1rem;
  padding-top: 10px;
}

.tabela {
  display: flex;
  flex-direction: column;
  min-width: 715px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--neutral300);
  overflow-x: scroll;
}

.tabela > #cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--neutral300);
  padding: 0.5rem;
}

.tabela > #cabecalho > span {
  padding: 0 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--neutral600);
}

#tabela-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--neutral300);
  padding: 0.5rem;
}

.revisar-cand-main > #div-btn {
  display: flex;
  flex-direction: row;
  max-width: 27.5rem;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.revisar-cand-main > #div-btn > button {
  width: 35%;
  border-radius: 5px;
  border: none;
  color: var(--neutral700);
  background-color: var(--neutral200);
  cursor: pointer;
  transition: all 0.3s;
}

.revisar-cand-main > #div-btn > button:hover {
  background-color: var(--neutral300);
}

.revisar-cand-main > #div-btn > #create-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: var(--neutral50);
  background-color: var(--primary-success700);
}

.revisar-cand-main > #div-btn > #create-button:hover {
  background-color: var(--primary-success800);
}

#create-button > svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5px;
}
