p {
  font-size: 13px;
}

.text-principal {
  padding-bottom: 10px;
  color: rgb(34, 144, 107);
}
.container {
  display: flex;
  flex-direction: column;
}
.atividades {
  padding: 30px;
  min-height: 100vh;
  width: 500px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  grid-auto-rows: minmax(300px, auto);
}
.atividades-grid {
  border: 2px solid #e0e0e0;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  width: 50vh;
  height: auto;

  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(184, 175, 184, 1);
  -webkit-box-shadow: 5px 5px 10px rgba(184, 175, 184, 1);
  -moz-box-shadow: 5px 5px 10px rgba(184, 175, 184, 1);
}

.contantes-item {
  display: flex;
  padding: 5px;
  flex-direction: column;
  gap: 20px;
}
.pendente-item {
  display: flex;
  padding: 0;
  gap: 20px 50px;
  align-items: center;

  border: 1px solid #e0e0e0;
  box-shadow: 5px 5px 10px rgba(184, 175, 184, 1);
  -webkit-box-shadow: 5px 5px 10px rgba(184, 175, 184, 1);
  -moz-box-shadow: 5px 5px 10px rgba(184, 175, 184, 1);
}
.ver-pendente {
  display: flex;
  justify-content: center;

  padding-top: 15px;
  color: rgb(34, 144, 107);
}
.button-atv {
  background: none;
  padding: 3px 7px 3px 7px;
  width: 50%;
  margin: 0;
  color: #047857;
  border: 1px solid #047857;
}

.icon-FiUser {
  padding-left: 6px;
  color: var(--primary-success400);
}
